.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

h1 {
  margin: 0;
}

.rules-info {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap; // Pour les petits écrans
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.participant-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rank-avatar {
  background-color: #673ab7; // Thème primary
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}