.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

h1 {
  margin: 0;
}

.rules-info {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap; // Pour les petits écrans
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.participant-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rank-avatar {
  background-color: #673ab7; // Thème primary
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.spacer { flex: 1 1 auto; }

h2 {
  margin-top: 32px;
}

.table-container {
  width: 100%;
  overflow: auto; // Ajoute une barre de défilement si le tableau est trop large
}

table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  padding: 8px;
}

// Style particulier pour la première colonne (Tour)
th.mat-column-roundNumber, td.mat-column-roundNumber {
  font-weight: bold;
  text-align: left;
}