.container {
  position: relative;
}

.loading-spinner, .empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 16px;
  color: var(--text-secondary-color);
}

.empty-state mat-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.board-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  }
}

.fab-add-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

mat-card-header {
  // Utiliser flexbox pour permettre au spacer de fonctionner
  display: flex;
  width: 100%;

}

.spacer {
  flex: 1 1 auto; // Prend tout l'espace disponible
}

.drag-handle {
  position: absolute;
  top: 10px;
  left: 6px;
  cursor: move;
  color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.card-content {
  // S'assure que le contenu peut être cliqué pour la navigation
  width: 100%;
  height: 100%;
  padding-left: 24px;
}

.card-content mat-card-header mat-card-title {
  // 1. Empêcher le retour à la ligne
  white-space: nowrap;
  
  // 2. Cacher tout ce qui dépasse
  overflow: hidden;
  
  // 3. Ajouter "..." à la fin du texte coupé
  text-overflow: ellipsis;

  // 4. (Optionnel mais recommandé) S'assurer qu'il a une largeur maximale
  // pour savoir quand commencer à couper. 
  // Le `mat-card-header` gère déjà bien cela, mais c'est une sécurité.
  max-width: 180px; // Ajustez cette valeur si nécessaire
}

mat-card-subtitle {
  // Aligner les spans horizontalement
  display: flex;
  align-items: center;
}

.separator {
  // Ajouter un espacement horizontal de chaque côté du point
  margin: 0 8px;
}