.container {
  position: relative;
}

.loading-spinner, .empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.empty-state mat-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.board-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  }
}

.fab-add-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

mat-card-header {
  // Utiliser flexbox pour permettre au spacer de fonctionner
  display: flex;
  width: 100%;

}

.spacer {
  flex: 1 1 auto; // Prend tout l'espace disponible
}

.drag-handle {
  position: absolute;
  top: 10px;
  left: 6px;
  cursor: move; // Changer le curseur pour indiquer qu'on peut déplacer
  color: rgba(255, 255, 255, 0.3);
}

.card-content {
  // S'assure que le contenu peut être cliqué pour la navigation
  width: 100%;
  height: 100%;
}