
.error-message {
  color: var(--warn-color); 
  text-align: center;
  margin-bottom: 16px;
}

// On peut aussi styliser la carte pour qu'elle utilise notre couleur de surface
mat-card {
  background-color: var(--surface-color); 
}

mat-card-actions p {
  color: var(--text-secondary-color);

  a {
    color: var(--accent-color); 
    &:hover {
      color: var(--text-primary-color);
    }
  }
}