<mat-toolbar class="main-toolbar">
  <a routerLink="/" class="logo">
    <img src="logo.png" alt="GameGauge Logo" />
    <span>GameGauge</span>
  </a>
  <span class="spacer"></span>
  <!-- BOUTON DE THÈME -->
  <button mat-icon-button (click)="themeService.toggleTheme()" aria-label="Changer de thème">
    <!-- On affiche une icône différente en fonction du thème actuel -->
    <mat-icon *ngIf="themeService.getCurrentTheme() === 'dark-theme'">light_mode</mat-icon>
    <mat-icon *ngIf="themeService.getCurrentTheme() === 'light-theme'">dark_mode</mat-icon>
  </button>
  <!-- On utilise le pipe `async` pour souscrire à notre Observable `isHandset$` -->
  <!-- Et on stocke le résultat (true/false) dans une variable locale `isHandset` -->
  <div *ngIf="authService.isLoggedIn(); else loggedOutButtons">
    <!-- Si l'utilisateur EST CONNECTÉ -->
    <!-- On applique la même logique responsive ici -->
    <div *ngIf="isHandset$ | async; else desktopLogoutButton" class="toolbar-actions">
      <!-- Mobile (connecté) -->
      <button mat-icon-button (click)="onLogout()" aria-label="Se déconnecter">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <ng-template #desktopLogoutButton>
      <!-- Desktop (connecté) -->
      <button mat-button (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
    </ng-template>
  </div>

  <!-- Template affiché si l'utilisateur N'EST PAS CONNECTÉ -->
  <ng-template #loggedOutButtons>
    <!-- On réutilise notre logique responsive à l'intérieur de ce template -->
    <div *ngIf="isHandset$ | async; else desktopButtons" class="toolbar-actions">
      <!-- Mobile (déconnecté) -->
      <a mat-icon-button routerLink="/login" aria-label="Lien de connexion">
        <mat-icon>login</mat-icon>
      </a>
      <a mat-icon-button routerLink="/register" aria-label="Lien d'inscription">
        <mat-icon>person_add</mat-icon>
      </a>
    </div>
    <ng-template #desktopButtons>
      <!-- Desktop (déconnecté) -->
      <div class="toolbar-actions">
        <a mat-button routerLink="/login">Connexion</a>
        <a mat-button routerLink="/register">Inscription</a>
      </div>
    </ng-template>
  </ng-template>
</mat-toolbar>

<main class="content">
  <!-- Le routeur affichera nos pages ici -->
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <mat-toolbar>
    <span>
      Créé par Jean-Philippe Carrazé &middot; 
      <a href="mailto:contact@gamegauge.fr">Me contacter</a>
    </span>
  </mat-toolbar>
</footer>