/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as vars;
@use '@angular/material' as mat;

@include mat.core();

$gamegauge-primary: #bb86fc; // Violet clair (style Material Dark)

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  density: (
    scale: -1
  )
));

html {
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: vars.$background-color; 
  color: vars.$text-primary-color;
}

a {
  color: vars.$accent-color; // <-- UTILISATION
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

mat-card {
  width: 100%;
  max-width: 400px;
}

mat-card-title {
  color: antiquewhite;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 8px;
}

mat-card-actions {
  color: antiquewhite;
}

mat-card-actions a {
  color: #90caf9; // Couleur primaire claire de Material
}

mat-dialog-content {
  padding-top: 10px !important;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

button[mat-raised-button] {
  margin-top: 16px;
  min-height: 48px;
}

.error-message {
  color: #f44336; // Couleur d'erreur de Material
  text-align: center;
  margin-bottom: 16px;
}

mat-card-actions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

/* STYLES GLOBAUX POUR LES NOTIFICATIONS SNACKBAR */

// Style pour les notifications de succès
.snackbar-success {
  // Appliquer les couleurs de la palette "accent" de notre thème
  --mdc-snackbar-container-color: #69f0ae; // Vert Material
  --mat-mdc-snack-bar-button-color: #000;
  --mdc-snackbar-supporting-text-color: #000;
}

// Style pour les notifications d'erreur
.snackbar-error {
  // Appliquer les couleurs de la palette "warn" (rouge) de notre thème
  --mdc-snackbar-container-color: #f44336; // Rouge Material (warn)
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
